* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial;
    font-weight: normal;
}


body{
    margin:0 auto;
    margin-top: 100px;
    max-width: 1200px;
    min-width: 400px;
}

.slider img{
    width: 100%;
}

h1 {
    margin:30px auto;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    display: flex;
}

h2{
    text-align: center;
    justify-content: center;
}

.error{
    margin-top:-10px;
    color:red;
    font-size: large;
}


header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
    height: 100px;
    background-color: white;
        color:black;

}


header a{
    text-decoration: none;
    margin-right:20px;
}

header img{
    width:80px;
    align-items: right;
}

nav{
    text-align: right;
}



 nav a {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

#href{
    color:black;
}

.light{
    padding: .375rem .75rem;
    color:white;
    background-color: black;
    font-size: 1rem;
    border-radius: 1.25rem;
    border-width: 0;
}

.dark{
    padding: .375rem .75rem;
    color:black;
    background-color: white;
    font-size: 1rem;
    border-radius: 1.25rem;
    border-width: 0;
}


.grid {
    display: flex;
    flex-direction: row ;
    flex-wrap:  wrap;
    align-items: center; 
    justify-content: center;
}

.caravan{
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    height:550px;
    width:280px;
    margin:5px;
    border: 1px solid rgb(219, 217, 217);
}

.caravan img{
    width:100%;
}


.caravan h3{
    font-size: 20px;
    margin:10px;
}

.caravan .price{
    width:200px;
    color:brown;
    font-size: 30px;
    border-bottom: 3px solid brown;
}

.caravan p{
    width:160px;
    height:30px;
    margin:10px;
    font-size: 18px;
    border-bottom: 1px solid rgb(219, 217, 217);
}

.caravan a button{
    width:100px;
    height:30px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}

.login{
    display: flex;
}

.login form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    width:50%;
}

.login form input{
    width:300px;
    height: 40px;
    margin:15px;
    font-size: large;
}

.login form label{
    text-align: center;
}

#btn_loguj,#btn_reg{
    background-color: brown;
    color:white;
    border: none;
}

.admin{
    display: flex;
    flex-direction: row ;
    flex-wrap:  wrap;
    justify-content: center;
    flex-direction: column;
}

.admin label{
    text-align: center;
}

.specyfication{
    width: 400px;
    font-size: 20px;
    border-spacing: 0;
    float:left;
}

.specyfication td{
    height: 40px;
}

.specyfication td:nth-of-type(2){
    align-items: right;
    text-align: right;
}

.specyfication tr:nth-of-type(2n){
    width: 50%;
    background-color:rgb(228, 224, 224) ;
    color:red;
}

.caravanIMG{
    width: 600px;
    float:right;
}

.reservation{
    margin-top:30px;
    float:right;
    display: flex;
    flex-direction: row;
    font-size: large;
    align-items: center;
}

.reservation input{
    width:120px;
    height: 40px;
    margin:0 15px;
    font-size: large;
}

.reservation label{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.reservation p{
    margin-right: 15px;
    color:brown;
    font-size: 20px;
}

#addReservation{
    background-color: brown;
    color:white;
    border: none;
}

.ReservationList {
    font-size: larger;
    border-collapse: collapse; 
    width: 100%;
    
    margin: 0 auto;
}

.ReservationList td:first-of-type{
    border-left: 1px solid brown;
}

.ReservationList td:last-of-type{
    border-right: 1px solid brown;
}

.ReservationList td{
    padding:20px 5px;
    border-bottom: 1px solid brown;
    border-top: 1px solid brown;
}

.ReservationList button{
    width:50px;
    height: 40px;
    background-color: brown;
    color:white;
    border: none;
}

.admin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.admin input{
    width: 200px;
    height: 40px;
    margin:10px;
}

select{
    width: 202px;
    height: 42px;
    margin:10px;
}

#producer,#model,#price,#weight,#length,#lengthInside,#width,#widthInside,#people,#water,#hotWater,#shower,#fridge,#checkbox{
    display: none;
}

#checkbox{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
}

#checkbox label{
    align-items: left;
}

#checkbox label input{
    width:10px;
    height:10px;
    margin:3px;
    margin-left:10px;
}

#fileLabel{ 

    align-items: center;
    justify-content: center;
    height: 42px;

    display: none;

    background-color: brown;
    color: white;
    width: 202px;
    cursor: pointer;
    font-size: 18px;;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
   
#divFile{
    display: none;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 12px;
    color: white;
    height: 60px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;;
    align-items: center;
    margin-bottom:30px;
}

#errorFile{
    width: 100px;
    color:red;
    font-size: large;

}


#btnAdd{
    background-color: brown;
    border: none;
    width: 202px;
    height: 42px;
    color:white;
    cursor: pointer;
    font-size: 18px;
}
    
input[type="file"] {
    display: none;
}


@media (max-width:800px)
{
    .login{
        align-items: center; 
        justify-content: center;
        flex-direction: column;
    }
 
}

@media  (max-width:1110px)
{
    #checkbox{
width: 175px;
    }
    
}

@media (max-width:600px)
{

    .ReservationList td:first-of-type{
        border-left: none;
    }
    
    .ReservationList td:last-of-type{
        border-right: none;
    }

    .ReservationList td{
        display: flex;
        flex-direction: column;
                align-items: center; 
        justify-content: center;
        border:none;
        padding:5px;

    }

    .ReservationList tr{
        border:2px solid brown;
                padding-bottom:300px;

    }


}